/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles from the browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url("../images/home-background-image.png") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#home-page {
    margin-top: 1.25rem;
}

/*#game-container {
    background-color: #007BFF;
} */

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
 /* Home page and start section */
.start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    margin-top: 20rem;
}


button {
    width: 13.75rem;
    height: 3.125rem;
    padding: 0.5rem 0.5rem;
    margin: 0.3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 1.25rem;
    border: 3px solid black;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    background-color: #66ccff;
}

button:hover{
    box-shadow: 0 0.4rem 0 rgba(8, 114, 224, 0.6);
    transition: transaform 150ms;
    color: green;
    transform: scale(1.2);
}

i {
    color: white;
    font-size: 1.6rem;
    padding-right: 10px;
}

/** To dim the background **/
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
#level-selection,
#about-game {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #007BFF;
    font-weight: 900;
    border-radius: 0.6rem;
    padding: 2.2rem;
    /*margin-left: 50px; */
    top: 50%;
    left: 50%;
    /*bottom: 150px;*/
    gap: 4.2rem;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%); /*center the popup on the page */
}

#level-selection h2{
    font-size: 2rem;
}

/*  Popup containers for Instructions and Rules */
#instructions-popup,
#game-rules-popup  {
    display: none;
    flex-direction: column;
    /*position: fixed; */
    border-radius: 2.5rem;
    box-sizing: border-box;
    margin-top: 0.6rem;
    padding: 1.25rem;
    align-items: center;
    text-align: left;
    background-color: #007BFF;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden; /* Keeps scrollbar within popup boundary*/
}

#instructions-popup {
    width: 100%;
    height: 100vh;
}

#game-rules-popup {
    width: 100%;
    height: 90vh;
    justify-content: space-between;

}

.popup-content > h2 {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0.6rem;
    top: 0;
}

#instructions-popup li,
#game-rules-popup li{
    padding: 0.6rem;
    margin: 5px;
    font-size: 1rem;
    color: black;
}

#back-to-about-game {
    align-items: center;
}

/*#about-game-container {
    display: none;
} */

.start {
    bottom: 100px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup {
    display: none;
}


#year {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.btn--big {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 90px;
    height: 90px;
    /*font-size: 1rem; */
    padding-top: 0.6rem;
    border: 10px solid;
    margin: 0 30px;
    transition: all 0.5s;
    gap: 2.5rem;
}

.btn--big::after{
    content: attr(data-subject);
    font-size: 1rem;
    position: relative;
    text-align: center;
}

.btn--big i{
    font-size: 50px;
    align-items: center;
    justify-content: center;
    color: greenyellow;
}


#subject-selection-sss,
#subject-selection-jss {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 2rem;
    gap: 4rem;
    background-color: #007BFF;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*.btn--big::after {
    content: attr(data-level);
    font-size: 1rem;
} */

/* Popup window for let's go button */
/*.popup .popup-content {
    position: fixed;
    z-index: 1;
} */